In [3]:
import pandas as pd

In [12]:
pd.read_csv('../data/training_data/spamhamdata.csv',sep='	')

,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
0,ham,Ok lar... Joking wif u oni...
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...
2,ham,U dun say so early hor... U c already then say...
3,ham,"Nah I don't think he goes to usf, he lives aro..."
4,spam,FreeMsg Hey there darling it's been 3 week's n...
...,...,...
5566,spam,This is the 2nd time we have tried 2 contact u...
5567,ham,Will ü b going to esplanade fr home?
5568,ham,"Pity, * was in mood for that. So...any other s..."
5569,ham,The guy did some bitching but I acted like i'd...
5570,ham,Rofl. Its true to its name

In [11]:
import psycopg2
import os
import dotenv
dotenv.load_dotenv('.env')

False

In [12]:
os.getenv('PYPORT_')

In [15]:
import psycopg2
import os
import dotenv
dotenv.load_dotenv('.env')

conn = psycopg2.connect(
     database = os.getenv('PYDB'),
        host = os.getenv('PYHOST'),
        password = os.getenv('PYPASSWORD'),
        user = os.getenv('PYUSERNAME'),
        port = os.getenv('PYPORT_'))

cursor = conn.cursor()


cursor.execute('SELECT * FROM NLP')

print(cursor.fetchone())

conn.close()

('5e08def8-1fa6-11f0-a912-77784980d7c2', 'ham', 'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...')

In [8]:
import yaml

with open('../params.yaml','r') as f:
    params = yaml.safe_load(f)

In [9]:
params

{'transform_data': None, 'split_data': {'test_size': 0.3}}

In [1]:
import dotenv

In [2]:
dotenv.load_dotenv()

True

In [7]:
import os

os.getenv('PYHOST')

'localhost'

In [8]:
import psycopg2

conn = psycopg2.connect(
    database='NLP',
    user='postgres',
    password='KaliLinux123',
    host='localhost',
    port='5432'
)

print("Connected successfully")
conn.close()

Connected successfully

In [ ]:
def connect_to_database(query : str,insert : bool = False,fetchone: bool = True):
    conn = psycopg2.connect(
    database=os.getenv('PYDATABASE'),
    host=os.getenv('PYHOST'),
    password=os.getenv('PYPASSWORD'),
    user=os.getenv('PYUSER'),
    port=os.getenv('PYPORT_')
    
)   cursor = conn.cursor()
 

    if insert:
        pass
    else:
        cursor.execute(str(query))
        if fetchone:
            return cursor.fetchone()
        else:
            return cursor.fetchall()

    conn.close()

connect_to_database('SELECT * FROM NLP')
print("Connected successfully")
conn.close()

OperationalError:

In [10]:
import psycopg2
import os
import dotenv

dotenv.load_dotenv('.env')

def connect_to_database(query: str, insert: bool = False, fetchone: bool = True):
    try:
        conn = psycopg2.connect(
            database=os.getenv('PYDATABASE'),
            host=os.getenv('PYHOST'),
            password=os.getenv('PYPASSWORD'),
            user=os.getenv('PYUSER'),
            port=os.getenv('PYPORT_')
        )
        cursor = conn.cursor()

        if insert:
            cursor.execute(query)
            conn.commit()
            print("Insert executed successfully")
        else:
            cursor.execute(query)
            result = cursor.fetchone() if fetchone else cursor.fetchall()
            print("Connected successfully")
            return result

    except psycopg2.Error as e:
        print("Database connection error:", e)

    finally:
        if 'conn' in locals():
            conn.close()


# Test call
result = connect_to_database("SELECT * FROM NLP", fetchone=False)
print(result)

Database connection error:
None

In [11]:
os.getenv('PYDATABASE'),
os.getenv('PYHOST'),
os.getenv('PYPASSWORD'),
os.getenv('PYUSER'),
os.getenv('PYPORT_')

'5432'

In [16]:
print("DATABASE:", os.getenv('PYDB'))
print("HOST:", os.getenv('PYHOST'))
print("USER:", os.getenv('PYUSERNAME'))
print("PORT:", os.getenv('PYPORT_'))

DATABASE: NLP
HOST: localhost
USER: postgres
PORT: 5432